<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Finance App</title>

    <!--** CDN Referências **-->
    <%- include(process.cwd() + '/views/Partials/Cdn.ejs') %>
</head>
<body style="background-color: rgb(194, 194, 194);">
    <div class="container-fluid container bg-white rounded shadow p-4" style="position: relative; top: 50px;">
        <h1 class="text-center pb-4">Contabilidade</h1>

        <!--** CARDS **-->
        <div class=" d-flex justify-content-around mb-4">
            <div class=" p-2 shadow-sm" style="background: linear-gradient(90deg, #d31500 0%, #7c0000 100%);border-radius: 10px;width: 280px;">
                <div class="card-content" >
                    <div class="card-body">
                        <div class="media d-flex" style="color:white;">
                            <div class="align-self-center ">
                                <p class="h2 mr-4" >
                                    <i class="fa-solid fa-file-invoice-dollar"></i>
                                </p>
                            </div>

                            <div class="media-body text-right">
                                <h5>Saída:</h5>
                                <h5>R$ <%= saida %></h5>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div class=" p-2 shadow-sm" style="background: linear-gradient(90deg, #9ebd13 0%, #008552 100%); border-radius: 10px;width: 280px;"> 
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex" style="color:white;">
                            <div class="align-self-center ">
                                <p class="h2 mr-4" >
                                    <i class="fa-solid fa-wallet"></i>
                                </p>
                            </div>

                            <div class="media-body text-right">
                                <h5>Entrada:</h5>
                                <h5>R$ <%= entrada %></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" p-2 shadow-sm" style="background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); border-radius: 10px;width: 280px;">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex" style="color: white;">
                            <div class="align-self-center ">
                                <p class="h2 mr-4" >
                                    <i class="fa-solid fa-chart-pie"></i>
                                </p>
                            </div>

                            <div class="media-body text-right">
                                <h5>Diferença:</h5>
                                <h5>R$ <%= diferenca %></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--** Botões **-->
        <p>
            <a href='/contas/create' class="btn btn-primary create">
                <i class="far fa-plus-square"></i> Nova Entrada
            </a>
            <a href="" class="btn btn-secondary" id="report" target="_blank">
                <i class="fa-solid fa-file-pdf"></i> Relatório
            </a>
        </p>
    
        <!--** Tabela **-->
        <table id="tableRec" class="table table-hover table-striped table-bordered table-sm" style="font-size: smaller; white-space: nowrap; width: 100%">  
            <thead style="background-color:#2d98da;color:white;">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Descrição
                    </th>   
                    <th>
                        Banco
                    </th>  
                    <th>
                        Valor
                    </th>  
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <%contas.forEach(function(conta){%>
                    <tr>
                        <td>
                            <%= conta.id %>
                        </td>
                        <td class="text-center" >
                            <% if(conta.status === 'E'){%>
                                <i class="fa-solid fa-file-lines text-success" id="btn_hab" data-toggle="tooltip" title="Entrada" style="cursor: pointer; font-size: 1.2rem;"></i>
                            <%}else{%>
                                <i class="fa-solid fa-file-lines text-danger" id="btn_hab" data-toggle="tooltip" title="Saída" style="cursor: pointer; font-size: 1.2rem;"></i>
                            <%}%>
                        </td>
                        <td>
                            <%= conta.descricao %>
                        </td>
                        <td>
                            <%= conta.banco %>
                        </td>   
                        <td>
                            <%= conta.valor %>
                        </td>  
                        <td class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="/contas/edit/<%= conta.id %>" class="text-dark h6 edit dropdown-item">
                                        <i class="far fa-edit"></i> Editar
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    
                                    <a href="/contas/delete/<%= conta.id %>"  class="text-dark h6 delete dropdown-item">
                                        <i class="far fa-trash-alt"></i> Deletar
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    
                <%})%>
            </tbody> 
        </table>
    </div>
    
    <script>
        //***** Layout da tabela
        $(function() {
            $(document).ready(function() {
                $('#tableRec').DataTable();
            });
        });
    
        //***** Chamada dos tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>
</html>